# env excluding
.env

# payload excluding
.vscode
payload/
postman_collection/
temp/

# Executables
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# k8s secret
secret.yaml

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### Additional Ignores ###
.verascan-cache
.idea
.tmp
bin
*.done
.DS_Store
**/out
*.pem
out
**/VERSION
veracode-cli-*.zip
/cmd/veracode/veracode
**/metadata.json
**/vulnerability.db
**/fanal.db
coverage.txt
veracode-cli-code-quality-report.json
*iml
dist/
*.env